

:root {
  --light-color: #EEEEEE;
  --dark-color: #222831;
  --color-2: #393E46;
  --color-1: #00ADB5;

  --opac-1:rgb(0,173,181,0.5);

  --radius: 8px;

}
body {

  overscroll-behavior-y: contain;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/*Imported Styles*/

.coolinput {
  display: flex;
  flex-direction: column;
  min-width: 15vh;
  width: fit-content;
  position: static;
  max-width: 240px;
  margin: 2% 2% 4% 2%;
  align-self: center;
}



.coolinput label.text {
  font-size: 0.95rem;
  color: var(--color-1);

  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: var(--light-color);
  width: fit-content;
}



.coolinput .input {
  padding: 11px 10px;
  font-size: 0.95rem;
  border: 2px var(--opac-1) solid;

  border-radius: 5px;
  background: transparent;
  transition: border-color 0.2s;

}


.coolinput .input:focus {
  outline: none;
  border-color: var(--color-1);
}

.coolinput .input:hover {
  outline: none;
  border-color: var(--color-1);
}


@media only screen and (orientation: landscape){
  .coolinput {

    margin: 1% 1% 2% 1%;

  }


}

